[data-bs-theme="dark"] body {
  background-color: #121212;
  color: #f1f3f4;
}

[data-bs-theme="dark"] .review-item {
  background: var(--bs-card-bg); /* #1e1e1e theo Bootstrap dark */
  border: 1px solid var(--bs-border-color); /* #444 */
  color: var(--bs-body-color); /* #f1f3f4 */
}

[data-bs-theme="dark"] .edit-content-textarea {
  background-color: #1e1e1e;
  color: #f1f3f4;
  border: 1px solid #444;
}

[data-bs-theme="dark"] .review-content-edit {
    background: var(--bs-card-bg);
    border: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);
}

[data-bs-theme="dark"] .edit-rating-select {
    background: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);
}
